@use "../../tokens" as *;
@use "../../styles/util" as *;

.themeToggle {
  background-color: token("color.ui.contrast.05");
  align-items: center;
  border-radius: 12rem;
  border: 1px solid token("color.ui.contrast.15");
  display: inline-flex;
  padding: 0;

  @include darkMode {
    background-color: token("color.ui.contrast.15");
  }
}

.input {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.label {
  align-items: center;
  border-radius: 12rem;
  color: var(--theme-code-inline-text);
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  opacity: 0.25;
  position: relative;
  transition: opacity 125ms linear;
  width: 2rem;

  &:hover {
    opacity: 0.5;
  }

  &:focus-within {
    outline: 2px solid transparent;
    box-shadow:
      0 0 0 0.08em var(--theme-accent),
      0 0 0 0.12em white;
  }

  &[data-checked="true"] {
    background-color: token("color.ui.bg");
    color: token("color.ui.action");
    opacity: 1;

    @include darkMode {
      background-color: token("color.blue.40");
      color: token("color.blue.70");
    }
  }
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
