{
  "parser": "babel-eslint",
  "extends": ["prettier/react", "react", "airbnb"],
  "plugins": ["prettier", "react", "import", "jsx-a11y"],
  "rules": {
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/destructuring-assignment": 0
  }
}
