---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="openapi-typescript">
  <p>Consume <a href="https://spec.openapis.org/oas/latest.html" target="_blank" rel="noopener noreferrer">OpenAPI 3.0 & 3.1 schemas</a> in TypeScript in the lightest, fastest way possible.</p>
  <div class="selection">
    <a class="lib lib--ts" href="/introduction">
      <img src="/assets/openapi-ts.svg" />
      <span>Convert OpenAPI schemas to TypeScript</span>
    </a>
    <a class="lib lib--fetch" href="/openapi-fetch">
      <img src="/assets/openapi-fetch.svg" />
      <span>Fast, typesafe fetch client for your OpenAPI schema</span>
    </a>
  </div>
</MainLayout>

<style lang="scss">
  @use '../tokens' as *;

  .selection {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .lib {
    align-items: flex-start;
    border-radius: 1rem;
    border: 2px solid token('color.ui.contrast.10');
    color: inherit;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    gap: 0.5rem;
    line-height: 1.5;
    padding: 1rem;
    position: relative;
    transition: background-color 50ms linear, border-color 50ms linear;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    img {
      width: 12rem;
      height: auto;
    }

    &--ts {
      &:hover,
      &:focus-visible {
        background-color: color-mix(in oklab, #{token('color.brand.ts-blue')}, 95% transparent);
        border-color: token('color.brand.ts-blue');
      }

    }

    &--fetch {
      &:hover,
      &:focus-visible {
        background-color: color-mix(in oklab, #{token('color.brand.fetch-green')}, 95% transparent);
        border-color: token('color.brand.fetch-green');
      }
    }
  }
</style>
