---
import SkipToContent from "./SkipToContent.astro";
import Search from "./Search.jsx";

type Props = {
  currentPage: string;
};

const { currentPage } = Astro.props;
---

<header>
  <SkipToContent />
  <nav class="nav-wrapper">
    <div class="logo flex">
      <a href="/">
        <img src="/assets/openapi-ts.svg" />
      </a>
    </div>
    <div class="search-item">
      <Search client:idle />
    </div>
    <div class="social">
      <a href="https://github.com/drwpow/openapi-typescript" title="View openapi-typescript on GitHub" target="_blank" rel="noopener noreferrer"
        ><svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.58 31.77"
          ><path
            d="M16.29 0a16.29 16.29 0 0 0-5.15 31.75c.82.15 1.11-.36 1.11-.79v-2.77C7.7 29.18 6.74 26 6.74 26a4.36 4.36 0 0 0-1.81-2.39c-1.47-1 .12-1 .12-1a3.43 3.43 0 0 1 2.49 1.68 3.48 3.48 0 0 0 4.74 1.36 3.46 3.46 0 0 1 1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3 6.3 0 0 1 1.67-4.37 5.94 5.94 0 0 1 .16-4.31s1.37-.44 4.48 1.67a15.41 15.41 0 0 1 8.16 0c3.11-2.11 4.47-1.67 4.47-1.67a5.91 5.91 0 0 1 .2 4.28 6.3 6.3 0 0 1 1.67 4.37c0 6.26-3.81 7.63-7.44 8a3.85 3.85 0 0 1 1.11 3v4.47c0 .53.29.94 1.12.78A16.29 16.29 0 0 0 16.29 0Z"
          ></path></svg
        >
      </a>
      <span class="star-count"><a class="github-button" href="https://github.com/drwpow/openapi-typescript" data-icon="octicon-star" data-show-count="true" aria-label="Star drwpow/openapi-typescript on GitHub">Star</a></span>
    </div>
  </nav>
</header>

<style lang="scss">
  @use '../../tokens' as *;

  header {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
  }

  .logo {
    display: flex;
    flex: 1;
  }

  .star-count {
    display: none;

    @media (min-width: 600px) {
      display: block;
    }
  }

  .logo {
    min-width: 6rem;

    a {
      color: inherit;
      display: flex;
      font-weight: bold;
      text-decoration: none;
    }

    img {
      width: 8rem;
      height: auto;
    }

    @media (min-width: 50em) {
      width: auto;
      margin: 0;
      z-index: 0;
    }
  }

  .nav-wrapper {
    --padding: 1.5rem;

    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
    width: 81rem;

    @media (min-width: 600px) {
      gap: 1em;
    }
  }

  @media (min-width: 50em) {
    .menu-toggle {
      display: none;
    }
  }

  /** Style Algolia */
  :root {
    --docsearch-primary-color: #{token('color.ui.bg')};
    --docsearch-logo-color: #{token('color.blue.60')};
  }

  .search-item {
    display: flex;
    flex-grow: 1;
    max-width: 10rem;
    position: relative;
    z-index: 10;
  }

  .social {
    align-items: center;
    line-height: 1;
    display: flex;
    gap: 0.75rem;
    flex-shrink: 0;
    flex-grow: 0;

    a {
      align-items: center;
      align-self: stretch;
      color: inherit;
      display: flex;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .icon {
    fill: currentColor;
    height: 18px;
    width: 18px;
  }

  @media (min-width: 50em) {
    .search-item {
      max-width: 12rem;
    }
  }
</style>

<style is:global>
  .search-item > * {
    flex-grow: 1;
  }
</style>

<script is:inline async defer src="https://buttons.github.io/buttons.js"></script>
