/** Style Algolia */
:root {
  --docsearch-primary-color: var(--theme-accent);
  --docsearch-logo-color: var(--theme-text);
}
.search-input {
  height: 28px;
  background: var(--theme-bg-offset);
  border-radius: 2rem;
  border: none;
  box-sizing: border-box;
  color: hsla(var(--color-gray-50), 1);
  cursor: pointer;
  flex-grow: 1;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0.33em 0.375em;
  width: 100%;
}
.search-input:hover,
.search-input:focus {
  background-color: hsla(var(--color-gray-90), 1);
}
.search-input:hover::placeholder,
.search-input:focus::placeholder {
  color: var(--theme-text-light);
}
.search-input::placeholder {
  color: var(--theme-text-light);
}
.search-icon {
  height: 16px;
  opacity: 0.5;
  width: 16px;
}
.search-hint {
  align-items: center;
  background: none;
  border: 1px solid var(--theme-text-lighter);
  border-radius: 0.375rem;
  color: var(--theme-text);
  display: none;
  font-family: var(--font-mono);
  font-size: 13px;
  justify-content: center;
  letter-spacing: 0.125em;
  line-height: 14px;
  padding: 3px 5px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 3px;
}
.search-hint kbd {
  opacity: 0.5;
}

@media (min-width: 50em) {
  .search-hint {
    display: flex;
  }
}

/* ------------------------------------------------------------ *\
	DocSearch (Algolia)
\* ------------------------------------------------------------ */

.DocSearch-Modal .DocSearch-Hit a {
  box-shadow: none;
  border: 1px solid var(--theme-accent);
}
