---
import { fetchAvatar } from "../lib/github.js";

export type Props = {
  usernames: string[];
};

const { usernames = [] } = Astro.props;
const avatars = await Promise.all(usernames.map(fetchAvatar));
---

<ul class="wrapper">
  {
    usernames.map((user, i) => (
      <li class="contributor">
        <a href={`https://github.com/${user}`} target="_blank" rel="noopener noreferrer" class="link">
          <img class="avatar" src={avatars[i]} alt={user} />
          {user}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .wrapper {
    display: grid;
    font-size: 0.75rem;
    gap: 0.5rem 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .avatar {
    border-radius: 50%;
    height: 32px;
    overflow: hidden;
    width: 32px;
  }

  .contributor {
    display: flex;
    justify-content: center;
    margin: 0 !important;
  }

  .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 0.25rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
</style>
