---
import { fetchAvatar } from "../lib/github.js";

export type Props = {
  contributors: { username: string; avatar: string }[];
};

const { contributors = [] } = Astro.props;
---

<ul class="wrapper">
  {
    contributors.map(({ username, avatar }) => (
      <li class="contributor">
        <a href={`https://github.com/${username}`} target="_blank" rel="noopener noreferrer" class="link">
          <img class="avatar" src={avatar} alt={username} />
          {username}
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  .wrapper {
    column-gap: 0.5rem;
    display: grid;
    font-size: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 1rem;
  }

  .avatar {
    border-radius: 50%;
    height: 32px;
    overflow: hidden;
    width: 32px;
  }

  .contributor {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0;
  }

  .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    gap: 0.25rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
</style>
