---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a class="link" href={href}><small class="title">Next Page</small><slot /></a>

<style lang="scss">
  @use '../tokens' as *;

  .link {
    align-items: flex-start;
    border-bottom: 2px solid currentColor;
    color: token('color.ui.action');
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 0.25rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: relative;
    text-decoration: none;
    width: 50%;

    &:hover {
      text-decoration: none;
    }

    &::after {
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      content: "";
      display: block;
      height: 0.5rem;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0) rotate(-45deg);
      width: 0.5rem;
    }

    .title {
      color: #888;
      display: block;
      font-size: 0.7rem;
      font-weight: 400;
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
    }
  }
</style>
