@use "../tokens" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: 2px solid transparent;

  &:focus-visible {
    outline-color: token("color.ui.action");
  }
}

html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: token("color.ui.bg");
  color: token("color.ui.fg");
  display: flex;
  flex-direction: column;
  font-family: token("typography.family.base");
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  transition:
    background-color 100ms linear,
    color 100ms linear;
}

nav ul {
  list-style: none;
  padding: 0;
}

.content > section > :first-child {
  margin-top: 0;
}

h1 {
  @include typography("typography.h1");
}

h2 {
  @include typography("typography.h2");

  color: token("color.ui.text-subdue");
}

h3 {
  @include typography("typography.h3");

  color: token("color.ui.text-subdue");
}

h4 {
  @include typography("typography.h4");

  color: token("color.ui.text-subdue");
}

p,
li {
  font-size: 1rem;
  line-height: 1.65;

  @media (min-width: 600px) {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
pre {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  ol,
  ul & {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

ul {
  list-style: square;
}

ol,
ul {
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  padding-left: 0.75rem;
}

em,
i {
  font-variation-settings: "ital" 900;
  font-style: normal;
}

.content ul {
  line-height: 1.1em;
}

small,
.text_small {
  font-size: 0.833rem;
}

a {
  color: token("color.ui.action");
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

article > section iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
}

strong {
  font-weight: 600;
  color: inherit;
}

/* Supporting Content */

code {
  @include typography("typography.mono");

  $padding-block: 0.125rem;
  $padding-inline: 0.25rem;

  background-color: token("color.ui.contrast.05");
  border-radius: 0.25rem;
  color: inherit;
  display: inline-block;
  margin: -$padding-block -0.125em;
  padding: $padding-block $padding-inline;
  transition: background-color 100ms linear;
  word-break: break-word;
}

table,
pre {
  $padding-block: 1rem;
  $padding-inline: 1.5rem;

  line-height: 1.5;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: inherit;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
}

th {
  color: token("color.ui.text-subdue");
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.125em;
  line-height: 1;
  text-transform: uppercase;

  &[scope="col"] {
    border-bottom: 1px solid;
  }
}

thead th {
  border-bottom: 1px solid token("color.ui.border");
}

tbody tr:not(:first-of-type) td {
  border-top: 1px solid token("color.ui.border");
}

td,
th {
  padding: 6px;
  text-align: left;
}

td {
  vertical-align: top;

  code {
    white-space: nowrap;
  }
}

pre {
  @include typography("typography.mono");

  background-color: token("color.gray.10");
  color: token("color.gray.100");
}

blockquote {
  background-color: token("color.ui.callout-bg");
  border-left: 2px solid token("color.ui.action");
  line-height: 1.7;
  margin: 2rem 0;
  max-width: 100%;
  padding: 1.25em 1.5rem;
  width: 100%;

  p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

img {
  max-width: 100%;
}

button {
  align-items: center;
  background: token("color.ui.action");
  border: 0;
  border-radius: 8rem;
  color: token("color.gray.100");
  display: flex;
  font-size: 1rem;
  gap: 0.25em;
  justify-items: center;
  padding: 0.33em 0.67em;
}

/* Screenreader Only Text */
.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.focus:not(.sr-only):focus,
.focus:not(.sr-only):focus-visible {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

:target {
  scroll-margin: calc(var(--theme-sidebar-offset, 5rem) + 2rem) 0 2rem;
}

/* Highlight TOC header link matching the current scroll position */
.current-header-link {
  border-color: token("color.ui.bg-offset");
  /* Indicates the current heading for forced colors users in older browsers */
  outline: 1px solid transparent;

  a {
    color: token("color.ui.action");
  }

  @media (forced-colors: active) {
    border: 1px solid CanvasText;
  }
}
