.astro-code {
  > code {
    all: unset;
    display: block;
    padding: 1rem 1.5rem;
  }
}

.header-link {
  border-left: 1px solid var(--theme-divider);
  font-size: 0.875rem;
  margin: 0;
  transition: border-inline-start-color 100ms ease-out, background-color 200ms ease-out;

  a {
    color: inherit;
    display: inline-flex;
    font: inherit;
    gap: 0.5em;
    line-height: 1.3;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    unicode-bidi: plaintext;
    width: 100%;

    &:focus {
      color: var(--theme-text);
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-inline-start-color: var(--theme-accent-secondary);
  }

  svg {
    opacity: 0.6;
  }

  &.depth-3 a {
    padding-inline-start: 1.5rem;
  }
  &.depth-4 a {
    padding-inline-start: 2.25rem;
  }
}

.header-link .header-link:hover a,
.header-link .header-link:hover svg {
  opacity: 0.8;
}

.toc {
  margin: 0;
  padding: 0;
}
