@use "../tokens/tokens.css";

:root {
  --global-base-width: 78rem;
  --global-layout-gap: 2rem;
  --global-max-width: calc(var(--global-base-width) + 2 * var(--global-layout-gap));
  --global-left-sidebar-width: 12rem;
  --global-right-sidebar-width: 0;
  --global-main-content-width: calc(100vw - 2 * var(--global-layout-gap));

  @media (min-width: 600px) {
    --global-main-content-width: calc(var(--global-base-width) - (var(--global-left-sidebar-width) + var(--global-right-sidebar-width) + 2 * var(--global-layout-gap)));
  }

  @media (min-width: 900px) {
    --global-right-sidebar-width: 12rem;
  }
}
