@use "../tokens" as *;

.toc {
  .depth-2 a {
    font-weight: 500;
  }

  .depth-3 a {
    font-size: 0.875rem;
    opacity: 0.75;
    padding-left: calc(1 * var(--depth-padding));

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  .depth-4 a {
    font-size: 0.875rem;
    padding-left: calc(2 * var(--depth-padding));
  }

  .current-header-link a {
    color: token("color.ui.action");
    opacity: 1;
  }

  .header-link a {
    display: block;
    max-width: max(var(--global-right-sidebar-width), 8rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
